/*---------- HEADER-------- */

*{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    height: 80px;
}

h2{
    padding-left: 5px;
}

#txtBusca{
    margin-right: 5px;
}

/*---------- MAIN-------- */

.tela-principal{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    justify-content: space-between;
    padding: 20px;
}

.video{
    align-items: center;
    text-align: center;
    border: 1px solid #333;
}

.video img{
    max-width: 100%;
    box-shadow: 2px 2px 5px darkgray;
}

/*---------- FOOTER-------- */
.mensagem-footer{
    display:flex;
    background-color: orange;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}